<ul class='nav nav-tabs'>

  <li class='nav-item'>
    <%= link_to 'Ai keys', admin_ai_keys_path, class: "nav-link #{'active' if nav == 'ai_keys'}" %>
  </li>
  <li class='nav-item'>
    <%= link_to 'Users', admin_users_path, class: "nav-link #{'active' if nav == 'users'}" %>
  </li>
  <li class='nav-item'>
    <%= link_to 'Accounts', admin_accounts_path, class: "nav-link #{'active' if nav == 'accounts'}" %>
  </li>
  <li class='nav-item'>
    <%= link_to 'Subscription tiers', admin_subscription_tiers_path, class: "nav-link #{'active' if nav == 'subscription_tiers'}" %>
  </li>

  <li class='nav-item'>
    <%= link_to 'Account users', admin_account_account_users_path(@account), class: "nav-link #{'active' if nav == 'account_users'}" %>
  </li>
</ul>
