<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Version Lab" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app %>

    <!-- Google tag (gtag.js) -->
    <% if Rails.env.production? %>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JNR9LDKM8C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JNR9LDKM8C');
</script>

<script type="text/javascript">
!function(){var geq=window.geq=window.geq||[];if(geq.initialize) return;if (geq.invoked){if (window.console && console.error) {console.error("GE snippet included twice.");}return;}geq.invoked = true;geq.methods = ["page", "suppress", "track", "doNotTrack", "trackOrder", "identify", "addToCart", "callBack", "event"];geq.factory = function(method){return function(){var args = Array.prototype.slice.call(arguments);args.unshift(method);geq.push(args);return geq;};};for (var i = 0; i < geq.methods.length; i++) {var key = geq.methods[i];geq[key] = geq.factory(key);} geq.load = function(key){var script = document.createElement("script");script.type = "text/javascript";script.async = true; if (location.href.includes("vge=true")) {script.src = "https://s3-us-west-2.amazonaws.com/jsstore/a/" + key + "/ge.js?v=" + Math.random();} else {script.src = "https://s3-us-west-2.amazonaws.com/jsstore/a/" + key + "/ge.js";} var first = document.getElementsByTagName("script")[0];first.parentNode.insertBefore(script, first);};geq.SNIPPET_VERSION = "1.6.1";
geq.load("2J0HEVR");}();
</script>
<script>geq.page()</script>
    <% end %>
  
  
  </head>

  <body><% if user_signed_in? %>
   <div>  Logged in as <%= current_user.email %>\n      <%= button_to "Logout", destroy_user_session_path, method: :delete %><hr /></div>
  <% elsif ! controller.class.to_s.include?("Devise")%>
    <%= link_to "Login", new_user_session_path %> | <%= link_to "Signup", new_user_registration_path %><hr /></div>
  <% end %>

  <%= render partial: 'layouts/flash_notices' %>
  
    <%= yield %>
  </body>
</html>
