<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Version Lab" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app %>
  </head>

  <body><% if user_signed_in? %>
   <div>  Logged in as <%= current_user.email %>\n      <%= button_to "Logout", destroy_user_session_path, method: :delete %><hr /></div>
  <% elsif ! controller.class.to_s.include?("Devise")%>
    <%= link_to "Login", new_user_session_path %> | <%= link_to "Signup", new_user_registration_path %><hr /></div>
  <% end %>

  <%= render partial: 'layouts/flash_notices' %>
  
    <%= yield %>
  </body>
</html>
