<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Version Lab" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Version Lab">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'marketing' %>
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" />
  </head>

  <body>
    <%= render "marketing/nav" %>
    <%= yield %>
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script>AOS.init({ duration: 600, once: true, offset: 60 });</script>
  </body>
</html>
